@{
    ViewData["Title"] = "Home Page";

}
@model ADSBackend.Models.HomeViewModels.HomeViewModel;

<div class="text-center white-bg">
    <form role="search" class="navbar-form-custom" asp-controller="Explore" asp-action="Search" method="get">
        <div class="form-group">
            <input type="text" placeholder="Search for something..." class="form-control" name="query" id="top-search"  >
        </div>
    </form>
</div>
