@{
    ViewData["Title"] = "Home Page";

}
@model ADSBackend.Models.HomeViewModels.HomeViewModel;

<div class="text-center">
    <form role="search" class="navbar-form-custom" asp-controller="Home" asp-action="Search">
        <div class="form-group">
            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" asp-for="SearchInput">
        </div>
    </form>
</div>
