@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Source Scout!</h1>
    <a asp-controller="Account" asp-action="Login" class="btn btn-success">Click Here to Login</a>
</div>
