

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<div>
    <div class="wrapper wrapper-content white-bg">
        <form role="search" class="navbar-form-custom" asp-controller="Explore" asp-action="Index" method="get">
            <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="query" id="top-search">
            </div>
        </form>
    </div>

    @foreach (Post item in (List<Post>)ViewData["Videos"])
    {
        <a href="../Post/View/@item.PostId">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-1">
                            <img src="@item.Thumbnail" width="240" height="180" class="image" />
                        </div>
                        <div class="col-lg-4 col-md-offset-2">
                            <h5>@item.Description</h5>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>